# a comment
30 2 * Mr. Nobody; birthday
* * 7 Sunday; have a relaxing day!
# a comment to separate sections ###
1-4 * * new month reminder; very important; don't forget it!
3/5, 1-3,10-12 6,7 An unusual event; how very unusual